:root{
    --white: #fff;
    --black: #1f1f1f;
    --text-gray: #525151;
    --emph-pink: rgb(255,214,233);
}

*{
    font-family: 'Karla', sans-serif;
}

/* classi colore testo */
.mc-white{
    color: var(--white);
}

.mc-black{
    color: var(--black);
}

.mc-gray{
    color: var(--text-gray);
}

.mc-pink{
    color: var(--emph-pink);
}

.mfw-semibold{
    font-weight: 500;
}

/* NAVBAR */
.p-nav{
    background-color: rgba(39, 22, 51, 0.15);
    backdrop-filter: blur(8px);
}

.p-nav .nav-link, .p-nav .nav-link.active{
    color: var(--white);
}

.p-nav .nav-link:hover, .p-nav .nav-link.active:hover{
    color: var(--black);
}

.p-nav .nav-link{
    text-align: end;
}

#searchBtn, #searchBar{
    color: var(--white);
    font-weight: 400;
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid var(--white);
}

#searchBar::placeholder{
    color: var(--white);
}

#searchBar:focus{
    box-shadow: none;
}

/* bottone navbar da hamburger a x */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 62px; */
}
.nav-container {
    display: block;
    position: relative;
    /* height: 60px; */
}

.nav-container .checkbox {
    position: relative;
    display: block;
    height: 21px;
    width: 27px;
    top: auto;
    left: auto;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 21px;
    width: 27px;
    position: absolute;
    top: 24px;
    left: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--white);
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    width: 50%;
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}



